{{ define "title" }}
{{ with .Site.GetPage "/projects" }}
<div class="responsive-title-imagedoble">
    <a href="{{ "/yogaenbaires/projects" | relURL }}">
        {{ partial "images/paradas" }}
    </a>
</div>
{{ end }}
{{ end }}

{{ define "main" }}

<div class="container">
    <!-- Construccion del titulo basado en los parametros de id+title -->
    <h2 class="title is-1 top-pad strong-post-title">
        #{{ .Params.id | markdownify }} - {{ .Params.title | markdownify }}
    </h2>

    {{ partial "post-taxonomy.html" . }}

    <hr>

     <div class="connect-section"> <p>{{ .Content }}</p></div>



    {{partial "contacto-redes.html" .}}

    {{ partial "schedule2.html" . }}

    {{partial "IG-IG.html" . }}

    {{partial "galeria-reviews2.html" . }}

    {{partial "visita-disclaimer.html" . }}

</div>

    
</div>
<!-- End blog post content -->
{{ partial "comments.html" . }}

<style>
    div.section.fade-in.two {
        padding: 0 !important;
    }

    :root {
        --red: #CD5C5C; /* Define your color variable */
        --gray: #6c6464; /* Define your color variable */
      }

        .connect-section p {
        font-size: 1.1rem;
        color: var(--gray);
        margin-bottom: 1rem;
        font-weight: 500;
    }  
    .connect-section h1 {
        font-size: 2rem;
        color: var(--red);
        margin-bottom: 1rem;
        font-weight: 500;
    }

    .connect-section h2 {
        font-size: 1.4rem;
        color: var(--red);
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-weight: 500;
    }
    
    .connect-section h3 {
        font-size: 1.2rem !important;
        color: var(--gray);
        margin-bottom: 0.5rem;
        font-weight: 500;
        display: inline; /* Since it's in a line with strong */
    }
</style>

{{ end }}