{{ define "main" }}

<div class="container markdown top-pad">
    <!-- {{ .Content }} --> <!-- rmeove to see content in index.html --> 
</div>


<div class="container">
    
        {{ partial "legend-map.html" . }}
        <hr>

    <ul class="post-list">
    
        {{ range .Pages.ByPublishDate.Reverse }}

        <li class="post-item">
            <a href="{{ .Permalink }}" class="post-title">        
                #{{ .Params.id | markdownify }} - {{ .Params.title | markdownify }}
            </a>
            
            <div class="post-taxonomy">
                {{partial "post-taxonomy.html" .}}
            </div>
        </li>
        
        {{ end }}
    </ul>
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        function enableMapInteractivity(overlay) {
            const iframe = overlay.previousElementSibling;
            iframe.style.pointerEvents = 'auto';
            overlay.style.display = 'none';
            
            // Optional: Re-disable after 30 seconds of inactivity
            setTimeout(() => {
                iframe.style.pointerEvents = 'none';
                overlay.style.display = 'block';
            }, 30000);
        }
    
        // Initialize event listeners for all map overlays
        document.querySelectorAll('.map-overlay').forEach(overlay => {
            overlay.addEventListener('click', function() {
                enableMapInteractivity(this);
            });
        });
    });
    </script>

{{ end }}


