<p class="legend-text">
    Explora el mapa y haz clic en los iconos para conocer los estudios de yoga reseñados. Cada estudio incluye una descripción y un identificador # para facilitar la búsqueda de su reseña. Los colores de los iconos indican el estilo de yoga principal que ofrecen.            
</p>

{{ partial "map.html" . }}

<p class="legend-text"> Para queres aprender más de cada estilo, visita la sección
        <b><i><a class="legend-label" href="/yogaenbaires/#el-semillero">El Semillero del Yoga</del></a></i></b>.
</p>

<div class="legend-spacer"></div>

<div class="legend-items-container">

    <div class="legend-item">     <!-- Hatha -->
        <a href="/yogaenbaires/estilo/hatha" class="icon-label-group">
            <img src="/yogaenbaires/images/lotus-varios.png" alt="Hatha" class="legend-icon">
            <span class="legend-label">Hatha</span>
        </a>
    </div>

    <div class="legend-item">    <!-- Vinyasa -->
        <a href="/yogaenbaires/estilo/vinyasa" class="icon-label-group">
            <img src="/yogaenbaires/images/lotus-vinyasa.png" alt="Vinyasa" class="legend-icon">
            <span class="legend-label">Vinyasa</span>
        </a>
    </div>

    <div class="legend-item">    <!-- Ashtanga -->
        <a href="/yogaenbaires/estilo/ashtanga" class="icon-label-group">
            <img src="/yogaenbaires/images/lotus-ashtanga.png" alt="Ashtanga" class="legend-icon">
            <span class="legend-label">Ashtanga</span>
        </a>
    </div>
    
    <div class="legend-item">    <!-- Yin -->
        <a href="/yogaenbaires/estilo/yin" class="icon-label-group">
            <img src="/yogaenbaires/images/lotus-otros.png" alt="Yin" class="legend-icon">
            <span class="legend-label">Yin</span>
        </a>
    </div>

    <div class="legend-item">    <!-- Otros -->
        <a href="/yogaenbaires/estilo/otros" class="icon-label-group">
            <img src="/yogaenbaires/images/lotus-yin.png" alt="Otros Estilos" class="legend-icon">
            <span class="legend-label">Otros</span>
        </a>
    </div>
</div>