{{ if .Site.Params.showMenu | default true }}
<!-- Simplified Nav bar with burger menu -->
<div class="container">
    <hr>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="navbar-menu has-content-centered" id="navMenu">
          <a class="navbar-item" href="/yogaenbaires/#el_sendero">El Sendero</a>
          <a class="navbar-item" href="/yogaenbaires/#el_semillero">El Semillero</a>
          <a class="navbar-item" href="/yogaenbaires/#acerca">Acerca de Yoga en Baires</a>
          
        </div>


    </nav>
    <hr>
</div>
<!-- End Nav bar -->
{{ end }}

<script>
    // Nav burger functionality
    document.addEventListener('DOMContentLoaded', function () {
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>