{{ if .Site.Params.showMenu | default true }}
<!-- Simplified Nav bar with burger menu -->
<div class="container">
    <hr>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="navbar-menu has-content-centered" id="navMenu">
          <a class="navbar-item" href="/yogaenbaires/#el_sendero">El Sendero</a>
          <a class="navbar-item" href="/yogaenbaires/#el_semillero">El Semillero</a>
          <a class="navbar-item" href="/yogaenbaires/#acerca">Acerca de Yoga en Baires</a>
            
          <a class="navbar-item"><a class="share-button whatsapp-share" 
          href="https://wa.me/?text={{ .Title | markdownify }}%20{{ .Permalink }}" 
          target="_blank"
          aria-label="Compartir en WhatsApp">
           <i class="fab fa-whatsapp"></i></a>
       </a>
       
       <!-- Instagram -->
       <a class="navbar-item"></a><a class="share-button instagram-share"
          href="https://instagram.com/?url={{ .Permalink }}"
          target="_blank"
          aria-label="Compartir en Instagram">
           <i class="fab fa-instagram"></i></a>
       </a>
       
       <!-- Copy Link -->
       <a class="navbar-item"></a><button class="share-button copy-link"
               onclick="navigator.clipboard.writeText('{{ .Title | markdownify }} - {{ .Permalink }}');alert('¡Enlace copiado!')"
               aria-label="Copiar enlace">
           <i class="fas fa-paperclip"></i></a>
       </button>

        </div>
    </nav>
    <hr>
</div>
<!-- End Nav bar -->
{{ end }}

<script>
    // Nav burger functionality
    document.addEventListener('DOMContentLoaded', function () {
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>