<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        {{ partial "head/metadata.html" . }}
        {{ if .Site.Params.plausible }}{{ partial "head/plausible.html" . }}{{ end }}
        {{ partial "head/openGraph.html" . }}
        {{ partial "head/favicons.html" . }}
        {{ partial "head/css.html" . }}
        {{ partial "css/owlCarousel.html" . }}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />


        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">



    </head>

    <body>


        {{ partial "home/3columnas.html" . }}

    </div>
    </body>
</html>

<style>

  .fas{
  font-size: 1.8rem !important;
  margin-left: 0.7rem !important;
  margin-right: 0.7rem !important;
  }
  .fab{
  font-size: 1.8rem !important;
  margin-left: 0.7rem !important;
  margin-right: 0.7rem !important;
  }

  .fab:hover{
    color: #6c6464 !important;
    }

  .fas:hover{
    color: #6c6464 !important;    
}
</style>

<script>
    function update_localtime() {
        const time = new Date().toLocaleTimeString('{{ .Site.Params.home.timeFormat }}', { timeZone: '{{ .Site.Params.home.timeZone }}', timeStyle: 'short' });
        document.getElementById('time').innerHTML = time;
    }
    update_localtime();
    // Updating every second to prevent seconds looking like stood still when timeStyle is ignored.
    setInterval(update_localtime, 1000);
</script>