<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ block "head" . }}
        {{ partial "head/metadata.html" . }}
        {{ if .Site.Params.plausible }}{{ partial "head/plausible.html" . }}{{ end }}
        {{ partial "head/openGraph.html" . }}
        {{ partial "head/favicons.html" . }}
        {{ partial "head/css.html" . }}
        {{ end }}
        <!-- Include page specific css -->
        {{ block "customCSS" . }}
        {{ end }}
    </head>
    <body>


                {{ block "main" . }}
                {{ end }}
            </div>
        </section>

    </body>
</html>