{{ define "title" }}

<div class="responsive-title-image">
    <a href="{{ "/yogaenbaires/blog" | relURL }}">
        {{ partial "images/paradas" }}
    </a>
</div>
<br>

<h2 class="title is-2 has-text-centered section-title taxonomy-header">
    {{ .Data.Singular | humanize }}: {{ lower .Title | markdownify }}
</h2>
{{ end }}


{{ define "main" }}
<div class="container">
    {{ partial "legend-map.html" . }}

<hr>

    <ul class="post-list">
        {{ range .Pages.ByPublishDate.Reverse }}
        <li class="post-item">
            <a href="{{ .Permalink }}" class="post-title">{{ .Title | markdownify }}</a>

                {{ partial "post-taxonomy.html" . }}

        </li>
        {{ end }}
    </ul>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        function enableMapInteractivity(overlay) {
            const iframe = overlay.previousElementSibling;
            iframe.style.pointerEvents = 'auto';
            overlay.style.display = 'none';
            
            // Optional: Re-disable after 30 seconds of inactivity
            setTimeout(() => {
                iframe.style.pointerEvents = 'none';
                overlay.style.display = 'block';
            }, 30000);
        }
    
        // Initialize event listeners for all map overlays
        document.querySelectorAll('.map-overlay').forEach(overlay => {
            overlay.addEventListener('click', function() {
                enableMapInteractivity(this);
            });
        });
    });
    </script>

{{ end }}
