{{ define "title" }}
<div class="rresponsive-title-imagedoble">
    <a href="{{ "/yogaenbaires/blog" | relURL }}">
        {{ partial "images/paradas" . }}
    </a>
</div>

<h2 class="title is-2 has-text-centered section-title taxonomy-header">
    {{ .Data.Singular | humanize }}: {{ lower .Title | markdownify }}
</h2>
{{ end }}


    <ul class="post-list">
        {{ range .Pages.ByPublishDate.Reverse }}
        <li class="post-item">
            <a href="{{ .Permalink }}" class="post-title">
                #{{ .Params.id | markdownify }} - {{ .Params.title | markdownify }}    
            </a>
            
            <div class="post-taxonomy">
                {{partial "post-taxonomy.html" .}}
            </div>
        </li>
        {{ end }}
    </ul>
</div>


