<div class="section" id="footer"> 
    <div class="container has-text-centered">
        <hr>
        <span class="footer-text">            

            Hecho con <i class="fa fa-heart"></i>  | YogaEnBaires, 2025 <br>
        <i class="fa fa-spa"></i><i>Lokāḥ Samastāḥ Sukhino Bhavantu</i><i class="fa fa-spa"></i>
    
        </span>
        </span>
    </div>
</div>

<style>
    .fa {
        margin: 0.3rem  !important;
    }

    .fab {
    font-size: 0.9rem !important;
    margin-left: 0.3rem !important;
    margin-right: 0.3rem !important;
    }


    .fab:hover{
    color: #CD5C5C !important;
    }
</style>